#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: bisque;
}

a, a:visited, a:link, a:active, a:hover {
  color: currentColor;
  text-decoration: underline;
}

.card {
  padding: 2em;
}
