:root {
    --bgColor: #6495ed;
}

.maze {
    position: fixed;
    inset: 0;
    z-index: -1;
    filter: blur(10px);
    mix-blend-mode: multiply;
    display: grid;
    mix-blend-mode: multiply;
    background: var(--bgColor);
    grid-template: 1fr / 1fr;
}

.cell {
    --doorColor: transparent;
    background-color: var(--bgColor);
    color: transparent;
    /* box-shadow: 0 0 0 1px black; */
    margin: -1px;
    aspect-ratio: 1;
    /* opacity: 0.25; */
}

@keyframes fader {
    from {
        background-color: white;
    }
    to {
        background-color: var(--bgColor);
    }
    
}

.visited {
    /* border: 1px solid black;
    background-color: white; */
    animation: fader .5s;
}

.up {
    border-top-color: var(--doorColor, transparent);
}
.down {
    border-bottom-color: var(--doorColor, transparent);
}
.left {
    border-left-color: var(--doorColor, transparent);
}
.right {
    border-right-color: var(--doorColor, transparent);
}